<div class="span12">
  <table style="margin: 0 auto"><tbody><tr>
    <td class="arrow_col">
        <div id="l_next">
          <div><img src="/img/larrow.png"/></div>

          <span class="pseudo">Zenburn</span>
        </div>
    </td>

    <td>
      <div class="code_plate">
        <%= code_plates.first.render %>
        <div class="code_plate_name"><%= code_plates.first.name %></div>
      </div>
    </td>

    <td class="arrow_col">
        <div id="r_next">
          <div><img src="/img/rarrow.png"/></div>

      <span class="pseudo">
          Pry Classic 256
      </span>
        </div>
    </td>
  </tr></tbody></table>
</div>
