<div class="container">
  <div class="span12">
    <div id="footer_info">

      <ul>
        <li><a href="https://github.com/kyrylo/pry-theme/">Repository</a></li>
        <li><a href="https://github.com/kyrylo/pry-theme/wiki/">Wiki</a></li>
        <li><a href="https://github.com/kyrylo/pry-theme-collection/">Pry Theme Collection</a></li>
      </ul>

      <div id="pt_version">v<%= PryTheme::VERSION %></div>
      <div id="email">
        Kyrylo Silin <<a href="mailto:kyrylosilin@gmail.com">kyrylosilin@gmail.com</a>>
      </div>

    </div>
  </div>
</div>
