<div class="span12">
  <button id="about" class="btn">
    <i class="icon-info-sign icon-black"></i>
    About
  </button>

  <h1><img src="/img/logo.png" width="434" height="38"/></h1>

  <div id="main_menu">
    <span class="btn-group">
      <button class="btn btn-inverse">Load theme</button>
    </span>
  </div>
</div>
