<div class="container">
  <div class="span12">
    <div class="row">
      <div class="span3">
        <div id="logo"><img src="/img/logo.png" width="175" height="52"/></div>
      </div>

      <div class="span6">
        <div class="btn-group" id="main_buttons">
          <button class="btn">Create</button>
          <button class="btn">Save</button>
          <button class="btn">Delete</button>
        </div>
      </div>

      <div class="span3">
        <div id="pt_info">
          <span class="pseudo" id="tour">Tour</span>
          <span id="tour_dialog">
            Would you like to take the Pry Theme Editor tour? It will help you
            to refresh your knowledge of the editor features.
          </span>

          <span class="pseudo" id="about">About</span>
          <span id="about_dialog">
            <p>
              Pry Theme Editor is an alternative way to edit Pry themes (rather
              than messing with the DSL by hand). It enables the great ability
              to edit themes graphically, by using mouse. The editor supports
              8, 16 and 256 color themes.
            </p>

            <p>
              Pry Theme Editor also allows taking screenshots of themes. This
              is useful, when you want to share a theme with the community
              (namely, contributing it to the Pry Theme Collection).
            </p>
          </span>
        </div>
      </div>

    </div>
  </div>
</div>
