<div class="container">
  <div class="span12">
    <div class="row">
      <div class="span3">
        <div id="logo"><img src="/img/logo.png" width="175" height="52"/></div>
      </div>

      <div class="span6">
        <div class="btn-group" id="main_buttons">
          <button class="btn">Create</button>
          <button class="btn">Save</button>
          <button class="btn">Delete</button>
        </div>
      </div>

      <div class="span3">
        <div id="pt_info">
          <span class="pseudo">Tour</span>
          <span class="pseudo">Cheatsheet</span>
          <span class="pseudo">About</span>
        </div>
      </div>

    </div>
  </div>
</div>
