<div class="container">
  <div class="span12">
    <div id="logo"><img src="/img/logo.png" width="175" height="52"/></div>
    <div id="main_menu">

      <div class="btn-group">
        <button class="btn">Create</button>
        <button class="btn">Save</button>
        <button class="btn">Delete</button>
      </div>
      <button class="btn">About</button>
      <button class="btn">Exit</button>

    </div>
  </div>
</div>
