<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pry Theme Editor v0.2.0</title>

  <link rel="stylesheet" href="/css/reset.css" type="text/css">
  <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/css/main.css" type="text/css">
</head>
<body>
  <div id="header" class="row"><%= erb :header %></div>

  <div id="layout" class="container row">
    <div id="content" class="row">
      <%= erb :content, :locals => { :code_plates => code_plates } %>
    </div>

    <div id="footer" class="row"><%= erb :footer %></div>
  </div>

  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</body>
</html>
